langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
sentence_transformers
chromadb
langchain_chroma
beautifulsoup4
langchain_ollama
llama-index-llms-langchain
llama-index-embeddings-huggingface
faiss-cpu
streamlit
langchain_groq